body {
    padding-top: 10px;
}

.logo {
    height: 30px;
    margin-top: 10px;
}

.pagination {
    margin: 0 0 20px 0 !important;
    vertical-align: middle;
}

.navbar .container-fluid {
    padding-left: 0;
}

@media (max-width: 767px) {
    .navbar-header {
        margin-top: 15px;
    }
    .navbar {
        text-align: center;
    }
}

.table td, .table th {
    text-align: center;
}

[data-datetime] {
    min-width: 200px;
}

.navbar {
    border-radius: 0;
}