{% extends 'layout.html' %}

{% block title %}about{% endblock %}

{% block body %}

<a href="https://www.dubtrack.fm/join/{{ room }}">Our room</a> is dedicated to underground bass music: dub,
deep dubstep, jungle, juke, footwork, grime, eski, dark garage, future garage, uk bass,
future bass, etc. Some examples below.

<div class="row">
    <div class="col-md-4">
        <h2>deep dubstep</h2>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=1J_fLBd16l8">Digital Mystikz - Mountain Dread March</a></li>
            <li><a href="https://www.youtube.com/watch?v=xk3Y54-zne4">Thelem - Pinar</a></li>
            <li><a href="https://www.youtube.com/watch?v=MBdn0_9u1yY">Karma - How Ya Feel</a></li>
            <li><a href="https://soundcloud.com/soundunknowndubs/teffa-dread-sound-unknown-remix">Teffa - Dread (Sound Unknown Remix)</a></li>
            <li><a href="https://www.youtube.com/watch?v=7dfMM4BRI-o">LAS & Gantz - Firepusher</a></li>
            <li><a href="https://www.youtube.com/watch?v=R89mIHZl9K4">AGO - That's what I was talking about back in '96</a></li>
            <li><a href="https://www.youtube.com/watch?v=PgD3H_71XFw">Mikael - Drain</a></li>
            <li><a href="https://www.youtube.com/watch?v=PgD3H_71XFw">Headhunter - Parallels</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>modern dub / future dub</h2>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=fzqC9zFlj_A">Hijak - Babylon Timewarp</a></li>
            <li><a href="https://www.youtube.com/watch?v=-EKZODv7fxc">Digid - Babylon Fall</a></li>
            <li><a href="https://soundcloud.com/systemwide/dj-stryda-plays-provisional-dub-sufferahs-choice-nov-2015">Systemwide - Provisional (Dub)</a></li>
            <li><a href="https://soundcloud.com/perverse/perverse-weh-ih-deh">Perverse - Weh Ih Deh</a></li>
            <li><a href="https://soundcloud.com/jrobinson/jrobinson-whodemsound-447-dub-free-download">J.Robinson WhoDemSound - 447 Dub</a></li>
            <li><a href="https://soundcloud.com/foundation-channel/01-satta-don-dada-professor-stone-bobo-riddim">Satta Don Dada & Professor Stone - Bobo Riddim</a></li>
            <li><a href="https://soundcloud.com/lasvain/get-irie-versio">LAS - Get Irie</a></li>
            <li><a href="https://soundcloud.com/fatkidonfire/jahyu-the-dub-is-the-heart-tripedal-crow-x-fkof-free-download">JahYu - The Dub Is The Heart</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>instrumental grime / eski</h2>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=mO3dl25gR_g">Wiley - Eskimo</a></li>
            <li><a href="https://www.youtube.com/watch?v=nME2jSawVck">DJ Marsta - Clap</a></li>
            <li><a href="https://www.youtube.com/watch?v=cjf13Embq7E">DJ Mondie - Pull Up Dat</a></li>
            <li><a href="https://www.youtube.com/watch?v=m-YBGoCiD4Q">Chunky Bizzle - Gully</a></li>
            <li><a href="https://www.youtube.com/watch?v=8XMDy9Ajruk">Iron Soul (Kromestar) - You Don't Know</a></li>
            <li><a href="https://www.youtube.com/watch?v=m0wnuQ9rphw">Koala - HexBell</a></li>
            <li><a href="https://www.youtube.com/watch?v=AJypSmOeu3c">Murlo - Furnace</a></li>
            <li><a href="https://www.youtube.com/watch?v=hOqZFHISgkE">Kode9 - Respirator</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>dark garage / dub garage</h2>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=B6qShA4vKGs">El-B ft Rumpus - Bubble</a></li>
            <li><a href="https://www.youtube.com/watch?v=4_uggscguzs">Ghost - The Club</a></li>
            <li><a href="https://www.youtube.com/watch?v=TGHqIldyJyc">Horsepower Productions - Gorgon Sound</a></li>
            <li><a href="https://www.youtube.com/watch?v=GioxRmV9wS8">Dub War - Generation</a></li>
            <li><a href="https://www.youtube.com/watch?v=qkLLbJgI81Y">TGS - On Tha Run (Horsepower Remix)</a></li>
            <li><a href="https://www.youtube.com/watch?v=JWbBqAq1YCo">DJ Hatcha - Dub Express</a></li>
            <li><a href="https://www.youtube.com/watch?v=b0kkkGzd3IA">High Plains Drifter - Sholay (Epic Mix)</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>future garage / burialstep</h2>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=t7oxTNgm3uo">Mercy & Audialist - On My Mind...</a></li>
            <li><a href="https://www.youtube.com/watch?v=Cr4kmieMoio">FaltyDL - Play With My Heart</a></li>
            <li><a href="https://www.youtube.com/watch?v=I5f9HTCREYk">Sepalcure - Every Day Of My Life</a></li>
            <li><a href="https://www.youtube.com/watch?v=05B3xC4uWZ4">SBTRKT - LAIKA</a></li>
            <li><a href="https://www.youtube.com/watch?v=8k_f2QK77ew">Burial - Archangel</a></li>
            <li><a href="https://www.youtube.com/watch?v=EwFQqJuoJ_E">Davwuh - Nothing</a></li>
            <li><a href="https://www.youtube.com/watch?v=a-cDsl1sFIw">Sorrow - Witchcraft</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>uk garage / 2step garage</h2>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=-WIzolVst_g">Antonio - I'll Take You There</a></li>
            <li><a href="https://www.youtube.com/watch?v=VVycT8k0tjM">Groove Chronicles - Stone Cold</a></li>
            <li><a href="https://www.youtube.com/watch?v=DezDtCezXm4">Ramsey & Fen - Love Bug</a></li>
            <li><a href="https://www.youtube.com/watch?v=NPnyAC9W6fw">Zed Bias & Hyper Hypa - Buttercup</a></li>
            <li><a href="https://www.youtube.com/watch?v=sDjZelvmB78">Flava D x Moony - Who I Am</a></li>
            <li><a href="https://www.youtube.com/watch?v=0iIN3wAgwF0">TQD - Day & Night [Night Mix]</a></li>
            <li><a href="https://www.youtube.com/watch?v=jJmYbNIPJqY">Journeyman - Trust Me</a></li>
        </ul>
    </div>
</div>
{% endblock %}
