{% extends 'layout.html' %}

{% block title %}about{% endblock %}

{% block body %}

{% if locale == 'ru' %}
Привет. Это вспомогательный веб-ресурс для <a href="https://www.dubtrack.fm/join/e-music">dubtrack/e-music</a> -
дабтрековой румы сети пабликов <a href="https://vk.com/e_music">https://vk.com/e_music</a>. Дабтрек - это такой чатик,
где люди могут по очереди ставить музыку с ютуба или саундклауда. Приходите, всем рады. У нас приветствуется любая музыка.
Что касается правил - не спамить, не буянить сильно, и прочие очевидные вещи. Треки продолжительностью более 15 минут
могут скипаться когда в очереди диджеинга присутствуют более 2 человек. Так что подкасты и миксы просим ставить либо
когда комната пустует, либо в предварительно оговорённое время. Насчёт последнего - надо будет подумать над расписанием.
В идеале хотелось бы тематические вечера иногда устраивать и всё такое, но посмотрим, будет ли кому интересно.
На этом сайте можно посмотреть статистику румы, комманды чатбота, и посёрфать жанровые паблики ниже.
{% else %}
Hello. This is auxiliary web-resource for <a href="https://www.dubtrack.fm/join/e-music">dubtrack/e-music</a> which is a
dubtrack room for <a href="https://vk.com/e_music">https://vk.com/e_music</a> publics network. Dubtrack is a kind of chat
where people can listen to music from youtube and soundcloud together. Join us, everyone is welcome! Any music is allowed.
As for the rules - no spam and other obvious things. Also, tracks longer than 15 minutes may be skipped if there are
more than 2 people in the queue. So, mixes and podcasts should be played when room is empty or at the agreed time.
{% endif %}

<div class="row">
    <div class="col-md-3">
        <h2>oldschool rock</h2>
        <ul>
            <li><a href="https://vk.com/e_roll">rock 'n' roll</a></li>
            <li><a href="https://vk.com/e_music_rock">classic rock</a></li>
            <li><a href="https://vk.com/e_garage_rock">garage rock</a></li>
            <li><a href="https://vk.com/e_music_psychedelic">psychedelic rock</a></li>
            <li><a href="https://vk.com/e_music_progrock">progressive rock</a></li>
            <li><a href="https://vk.com/e_music_krautrock">krautrock</a></li>
            <li><a href="https://vk.com/e_folk_rock">folk rock</a></li>
            <li><a href="https://vk.com/e_country_music">country rock</a></li>
            <li><a href="https://vk.com/e_psychobilly">psychobilly</a></li>
            <li><a href="https://vk.com/e_music_surfrock">surf rock</a></li>
            <li><a href="https://vk.com/e_music_glam">glam</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>other rock</h2>
        <ul>
            <li><a href="https://vk.com/e_alternative__rock">alternative rock</a></li>
            <li><a href="https://vk.com/postbritpop">britpop</a></li>
            <li><a href="https://vk.com/e_grunge">grunge</a></li>
            <li><a href="https://vk.com/e_music_noise_rock">noise rock</a></li>
            <li><a href="https://vk.com/e_fuzz">fuzz rock</a></li>
            <li><a href="https://vk.com/heavypsych">heavy psych</a></li>
            <li><a href="https://vk.com/e_music_stonerrock">stoner rock</a></li>
            <li><a href="https://vk.com/e_occult">occult</a></li>
            <li><a href="https://vk.com/e_music_spacerock">space rock</a></li>
            <li><a href="https://vk.com/e_music_neoprog">neo & modern prog</a></li>
            <li><a href="https://vk.com/mathwall">math rock</a></li>
            <li><a href="https://vk.com/post_music">post rock</a></li>
            <li><a href="https://vk.com/e_slowcore">slowcore & sadcore</a></li>
            <li><a href="https://vk.com/e_indie">indie</a></li>
            <li><a href="https://vk.com/e_new_wave">new wave</a></li>
            <li><a href="https://vk.com/e_coldwave">coldwave</a></li>
            <li><a href="https://vk.com/e_darkwave">darkwave</a></li>
            <li><a href="https://vk.com/postpunk_shoegaze">shoegaze & post-punk</a></li>
            <li><a href="https://vk.com/e_music_industrial">industrial</a></li>
            <li><a href="https://vk.com/e_gothic_rock">gothic rock</a></li>
            <li><a href="https://vk.com/deathr0ck">deathrock</a></li>
            <li><a href="https://vk.com/russ_rock">russian rock</a></li>
            <li><a href="https://vk.com/experimental_music">experimental rock</a></li>
            <li><a href="https://vk.com/e_avantgarde">avant-garde</a></li>
            <li><a href="https://vk.com/e_japan">j-rock</a></li>
            <li><a href="https://vk.com/e_korea">k-rock</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>metal</h2>
        <ul>
            <li><a href="https://vk.com/e_heavy_metal">heavy metal</a></li>
            <li><a href="https://vk.com/e_thrash">thrash metal</a></li>
            <li><a href="https://vk.com/public52654940">speed metal</a></li>
            <li><a href="https://vk.com/e_industrial_metal">industrial metal</a></li>
            <li><a href="https://vk.com/emetalcore">metalcore</a></li>
            <li><a href="https://vk.com/djent_music">djent</a></li>
            <li><a href="https://vk.com/progressivemetal">progressive metal</a></li>
            <li><a href="https://vk.com/post_music">post metal</a></li>
            <li><a href="https://vk.com/e_music_drone">drone</a></li>
            <li><a href="https://vk.com/e_doom">doom</a></li>
            <li><a href="https://vk.com/e_sludge">sludge</a></li>
            <li><a href="https://vk.com/e_occult">occult</a></li>
            <li><a href="https://vk.com/blackwall">black metal</a></li>
            <li><a href="https://vk.com/e_death_metal">death metal</a></li>
            <li><a href="https://vk.com/e.music.melodic_death">melodic death</a></li>
            <li><a href="https://vk.com/slamming_brutal_death">slamming brutal death</a></li>
            <li><a href="https://vk.com/e_music_gothic_metal">gothic metal</a></li>
            <li><a href="https://vk.com/e_power">power metal</a></li>
            <li><a href="https://vk.com/e_folk_metal">folk metal</a></li>
            <li><a href="https://vk.com/e_oriental_metal">oriental metal</a></li>
            <li><a href="https://vk.com/exit_to_exist">electronic metal</a></li>
            <li><a href="https://vk.com/e_metal_covers">metal covers</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>punk</h2>
        <ul>
            <li><a href="https://vk.com/e_punk">punk</a></li>
            <li><a href="https://vk.com/e_hardcore_punk">hardcore punk</a></li>
            <li><a href="https://vk.com/thrash_zone">thrash zone</a></li>
            <li><a href="https://vk.com/emusic_grind">grind</a></li>
            <li><a href="https://vk.com/e_crust">crust</a></li>
            <li><a href="https://vk.com/e_screamo">screamo</a></li>
            <li><a href="https://vk.com/midwest_emo">midwest emo</a></li>
            <li><a href="https://vk.com/e_music_ska">ska</a></li>
            <li><a href="https://vk.com/e_music_folkpunk">celtic punk</a></li>
            <li><a href="https://vk.com/postpunk_shoegaze">shoegaze & post-punk</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>core</h2>
        <ul>
            <li><a href="https://vk.com/e_hardcore_punk">hardcore punk</a></li>
            <li><a href="https://vk.com/thrash_zone">thrash zone</a></li>
            <li><a href="https://vk.com/e_melodic_hc">melodic hardcore</a></li>
            <li><a href="https://vk.com/e_chaotic_hardcore">chaotic hardcore</a></li>
            <li><a href="https://vk.com/e_noisecore">noisecore</a></li>
            <li><a href="https://vk.com/emusic_grind">grindcore</a></li>
            <li><a href="https://vk.com/e_post_hardcore">post-hardcore</a></li>
            <li><a href="https://vk.com/emetalcore">metalcore</a></li>
            <li><a href="https://vk.com/e_music_deathcore">deathcore</a></li>
            <li><a href="https://vk.com/trancecore_music">trancecore</a></li>
            <li><a href="https://vk.com/e_nintendo">nintendocore</a></li>
            <li><a href="https://vk.com/wootdafck">rapcore</a></li>
            <li><a href="https://vk.com/e_horrorcore">horrorcore</a></li>
            <li><a href="https://vk.com/mathcore_music">mathcore</a></li>
            <li><a href="https://vk.com/e_jazzcore">jazzcore</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>folk</h2>
        <ul>
            <li><a href="https://vk.com/e_music_folk">folk</a></li>
            <li><a href="https://vk.com/emusicauthentic">authentic</a></li>
            <li><a href="https://vk.com/musicmedieval">medieval</a></li>
            <li><a href="https://vk.com/e_contemporary_folk">contemporary folk</a></li>
            <li><a href="https://vk.com/e_free_folk">free folk</a></li>
            <li><a href="https://vk.com/e_dark_folk">dark folk</a></li>
            <li><a href="https://vk.com/ritual_music">ritual</a></li>
            <li><a href="https://vk.com/e_music_sacred">sacred</a></li>
            <li><a href="https://vk.com/e_country_music">country</a></li>
            <li><a href="https://vk.com/e_music_tramp">tramp music</a></li>
            <li><a href="https://vk.com/riotfolk">riot folk</a></li>
            <li><a href="https://vk.com/e_folk_rock">folk rock</a></li>
            <li><a href="https://vk.com/e_folk_metal">folk metal</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>world</h2>
        <ul>
            <li><a href="https://vk.com/e_ethnic_electronica">ethnic eclectic</a></li>
            <li><a href="https://vk.com/e_ethnicexotics">balkan, gypsy, jewish</a></li>
            <li><a href="https://vk.com/e_celtic">celtic</a></li>
            <li><a href="https://vk.com/e_afrobeat">afrobeat</a></li>
            <li><a href="https://vk.com/throatsinging">throatsinging</a></li>
            <li><a href="https://vk.com/e_tango">tango</a></li>
            <li><a href="https://vk.com/e_oriental_metal">oriental metal</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>музыка разных стран</h2>
        <ul>
            <li><a href="https://vk.com/ussrmusic">ussr music</a></li>
            <li><a href="https://vk.com/russ_rock">russian rock</a></li>
            <li><a href="https://vk.com/e_redsons">red sons</a></li>
            <li><a href="https://vk.com/e__ukraine">ukraine</a></li>
            <li><a href="https://vk.com/public101393585">estonia</a></li>
            <li><a href="https://vk.com/e_korea">korea</a></li>
            <li><a href="https://vk.com/e_j_pop">j-pop</a></li>
            <li><a href="https://vk.com/e_japan">japan</a></li>
            <li><a href="https://vk.com/e_music_india">india</a></li>
            <li><a href="https://vk.com/e_music_musica_brasileira">musica brasileira</a></li>
            <li><a href="https://vk.com/e_island">iceland</a></li>
            <li><a href="https://vk.com/e_chanson">french chanson</a></li>
            <li><a href="https://vk.com/e_russian_chanson">russian chanson</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>ambient & downtempo</h2>
        <ul>
            <li><a href="https://vk.com/e_music_ambient">ambient</a></li>
            <li><a href="https://vk.com/e_music_minimal">minimal</a></li>
            <li><a href="https://vk.com/e_illbient">illbient</a></li>
            <li><a href="https://vk.com/e_downtempo">downtempo</a></li>
            <li><a href="https://vk.com/wavvy">chillwave</a></li>
            <li><a href="https://vk.com/e_triphop">trip-hop</a></li>
            <li><a href="https://vk.com/e_music_psybient">psybient</a></li>
            <li><a href="https://vk.com/e_vaporwave">vaporwave</a></li>
            <li><a href="https://vk.com/e_newage">new age</a></li>
            <li><a href="https://vk.com/elounge">lounge</a></li>
            <li><a href="https://vk.com/e_music_drone">drone</a></li>
            <li><a href="https://vk.com/ritual_music">ritual</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>jazz</h2>
        <ul>
            <li><a href="https://vk.com/e__jazz">jazz</a></li>
            <li><a href="https://vk.com/e_smooth">smooth jazz</a></li>
            <li><a href="https://vk.com/e_nu_jazz">nu-jazz</a></li>
            <li><a href="https://vk.com/e_dark_jazz">dark jazz</a></li>
            <li><a href="https://vk.com/e_ethno_jazz">ethno jazz</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>blues</h2>
        <ul>
            <li><a href="https://vk.com/e_music_blues">blues</a></li>
            <li><a href="https://vk.com/delta_blues">delta blues</a></li>
            <li><a href="https://vk.com/e_archaic_race_music">archaic race music</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>hip-hop</h2>
        <ul>
            <li><a href="https://vk.com/e_music_hip_hop">hip-hop</a></li>
            <li><a href="https://vk.com/e_cloud_rap">cloud rap</a></li>
            <li><a href="https://vk.com/e_french_hh">french hip-hop</a></li>
            <li><a href="https://vk.com/e_music_abstract_hiphop">abstract hip-hop</a></li>
            <li><a href="https://vk.com/e_triphop">trip-hop</a></li>
            <li><a href="https://vk.com/e_horrorcore">horrorcore</a></li>
            <li><a href="https://vk.com/e_wonky">wonky</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>bass</h2>
        <ul>
            <li><a href="https://vk.com/e_music_bass">bass</a></li>
            <li><a href="https://vk.com/e_dnb">drum & bass</a></li>
            <li><a href="https://vk.com/e_intelligent">intelligent drum & bass</a></li>
            <li><a href="https://vk.com/e_music_juke">juke & footwork</a></li>
            <li><a href="https://vk.com/e_neurofunk">neurofunk</a></li>
            <li><a href="https://vk.com/e_ukgarage">dubstep & uk garage</a></li>
            <li><a href="https://vk.com/e_wonky">wonky</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>breakbeat & jungle</h2>
        <ul>
            <li><a href="https://vk.com/e_breakbeat">breakbeat</a></li>
            <li><a href="https://vk.com/e_atmosphericbreaks">breaks</a></li>
            <li><a href="https://vk.com/emusic_classicore">classicore</a></li>
            <li><a href="https://vk.com/emusic_breakcore">breakcore</a></li>
            <li><a href="https://vk.com/e_drumfunk">drumfunk</a></li>
            <li><a href="https://vk.com/e_jungle">jungle</a></li>
            <li><a href="https://vk.com/e_rave">rave</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>electro & synth</h2>
        <ul>
            <li><a href="https://vk.com/e_electro">electro</a></li>
            <li><a href="https://vk.com/e_finget_french">fidget</a></li>
            <li><a href="https://vk.com/e_music_electronic">electropop</a></li>
            <li><a href="https://vk.com/e_synth">synth</a></li>
            <li><a href="https://vk.com/e_newbeat">new beat</a></li>
            <li><a href="https://vk.com/e_coldwave">coldwave</a></li>
            <li><a href="https://vk.com/e_darkwave">darkwave</a></li>
            <li><a href="https://vk.com/retrowave">retrowave</a></li>
            <li><a href="https://vk.com/e_futurepop">futurepop</a></li>
            <li><a href="https://vk.com/e_music_traditional_electronic">traditional electronic</a></li>
            <li><a href="https://vk.com/e_progelectronic">progressive electronic</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>experimental & glitch</h2>
        <ul>
            <li><a href="https://vk.com/idmuziq">idm</a></li>
            <li><a href="https://vk.com/e_glitch">glitch</a></li>
            <li><a href="https://vk.com/witch_house">witch house</a></li>
            <li><a href="https://vk.com/e_vaporwave">vaporwave</a></li>
            <li><a href="https://vk.com/e_wonky">wonky</a></li>
            <li><a href="https://vk.com/e_music_8bit">chiptune, 8-bit</a></li>
            <li><a href="https://vk.com/e_nintendo">nintendocore</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>funk & disco</h2>
        <ul>
            <li><a href="https://vk.com/funk_music">funk</a></li>
            <li><a href="https://vk.com/e_disco">disco</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>industrial & noise</h2>
        <ul>
            <li><a href="https://vk.com/e_music_industrial">industrial</a></li>
            <li><a href="https://vk.com/e_industrial_metal">industrial metal</a></li>
            <li><a href="https://vk.com/e_music_martial">martial</a></li>
            <li><a href="https://vk.com/ebmusic">ebm</a></li>
            <li><a href="https://vk.com/e_music_dark_electro">dark electro</a></li>
            <li><a href="https://vk.com/public26893663">noise</a></li>
            <li><a href="https://vk.com/e_music_rhythmic_noise">rhythmic noise</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>techno & house</h2>
        <ul>
            <li><a href="https://vk.com/e_techno">techno</a></li>
            <li><a href="https://vk.com/e_detroit_techno">detroit techno</a></li>
            <li><a href="https://vk.com/e_dub_techno">dub techno</a></li>
            <li><a href="https://vk.com/e_music_house">house</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>trance</h2>
        <ul>
            <li><a href="https://vk.com/e_music_trance">trance</a></li>
            <li><a href="https://vk.com/e_music.psytrance">goa trance, psy trance</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>classical</h2>
        <ul>
            <li><a href="https://vk.com/eartmusic">art</a></li>
            <li><a href="https://vk.com/contemporary_classical">contemporary classical</a></li>
            <li><a href="https://vk.com/e_neoclassical">neoclassical</a></li>
            <li><a href="https://vk.com/e_avantgarde">avant-garde</a></li>
            <li><a href="https://vk.com/public_opera">opera</a></li>
            <li><a href="https://vk.com/musicmedieval">medieval</a></li>
            <li><a href="https://vk.com/emusic_classicore">classicore</a></li>
        </ul>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <h2>experimental</h2>
        <ul>
            <li><a href="https://vk.com/experimental_music">experimental</a></li>
            <li><a href="https://vk.com/e_avantgarde">avant-garde</a></li>
            <li><a href="https://vk.com/e_art_pop">art pop</a></li>
            <li><a href="https://vk.com/impromus">improvisation</a></li>
            <li><a href="https://vk.com/e_progelectronic">progressive electronic</a></li>
            <li><a href="https://vk.com/e_nww">nww list</a></li>
            <li><a href="https://vk.com/e_spoken_word">spoken word</a></li>
            <li><a href="https://vk.com/e_music_field_recording">field recording</a></li>
            <li><a href="https://vk.com/outsider_music">outsider</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>other</h2>
        <ul>
            <li><a href="https://vk.com/real_voice">acoustic</a></li>
            <li><a href="https://vk.com/e_music_acapella">a cappella</a></li>
            <li><a href="https://vk.com/e_music_cover">covers</a></li>
            <li><a href="https://vk.com/moviesost">original soundtrack</a></li>
            <li><a href="https://vk.com/e_kircore">kircore</a></li>
            <li><a href="https://vk.com/e_fabula">сказки</a></li>
            <li><a href="https://vk.com/dark_cabaret">dark cabaret</a></li>
            <li><a href="https://vk.com/e_chanson">french chanson</a></li>
            <li><a href="https://vk.com/e_russian_chanson">russian chanson</a></li>
            <li><a href="https://vk.com/e_music_sacred">sacred</a></li>
        </ul>
    </div>
</div>

{% endblock %}