{% extends 'layout.html' %}

{% block title %}plays{% endblock %}

{% block body %}
    {% include 'paginator.html' %}
    <table class="table table-bordered table-striped">
        <tr>
            <th>{{ localize('Title') }}</th>
            <th>{{ localize('Total plays') }}</th>
            <th>{{ localize('DJ') }}</th>
            <th>{{ localize('Previous DJ') }}</th>
            <th>{{ localize('Date') }}</th>
        </tr>
        {% for play in model %}
            <tr>
                <td><a href="{{ play.url }}">{{ play.title }}</a></td>
                <td>{{ play.totalPlays }}</td>
                <td>
                    <a href="/plays?user={{ play.dj }}">
                        {{ play.dj }}
                    </a>
                </td>
                <td>
                    <a href="/plays?user={{ play.previousDj }}">
                        {{ play.previousDj }}
                    </a>
                </td>
                <td data-datetime="{{ play.date.getTime() }}"></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}